# Postgres
POSTGRES_DB=nutrition
POSTGRES_USER=nutrition
POSTGRES_PASSWORD=nutrition
POSTGRES_PORT=5432

# Backend
BACKEND_PORT=8000

# SQLAlchemy-style URL (пока может не использоваться, но сразу норм)
DATABASE_URL=postgresql+psycopg://nutrition:nutrition@localhost:5432/nutrition
