# Postgres
POSTGRES_DB=nutrition
POSTGRES_USER=nutrition
POSTGRES_PASSWORD=nutrition
POSTGRES_PORT=5432

# Backend
BACKEND_PORT=8000

# SQLAlchemy-style URL (пока может не использоваться, но сразу норм)
DATABASE_URL=postgresql+psycopg://nutrition:nutrition@localhost:5432/nutrition

JWT_SECRET=change_me_dev_secret
JWT_ALG=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
